.item {
  display: flex;
  align-items: center;
  margin-top: 10px;
  padding: 10px;
  background-color: #ffffff;
  &:first-child{
    margin-top: 0px;
  }
}

.bookName {
  flex-grow: 1;
  overflow:hidden;
}


.buttonOptions {
  &_hidden {
    display: none;
  }
}

.buttonDelete {
  &_hidden {
    display: none;
  }
}

.buttonEdit {
  &_hidden {
    display: none;
  }
}



