@import '../../../styles/variables.scss';

.item {
  margin-top: 10px;
  padding: 10px;
  background-color:  $primaryLight;
  &:first-child{
    margin-top: 0px;
  }
}

.itemBookName {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.bookName {
  flex-grow: 1;
  overflow:hidden;
}


.buttonOptions {
  &_hidden {
    display: none;
  }
}

.buttonDelete {
  &_hidden {
    display: none;
  }
}

.buttonEdit {
  &_hidden {
    display: none;
  }
}




