@import '../../../styles/variables.scss';

.item {
  margin-top: 10px;
  padding: 10px;
  background-color:  $primaryLight;
  &:first-child{
    margin-top: 0px;
  }
}

.itemBookName {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  padding-bottom: 10px;
}

.bookName {
  flex-grow: 1;
  overflow:hidden;
  color: $secondary;
}


.buttonOptions {
  &_hidden {
    display: none;
  }
}

.buttonDelete {
  &_hidden {
    display: none;
  }
}

.buttonEdit {
  &_hidden {
    display: none;
  }
}

.tag {
  cursor:pointer;
  padding:3px 10px;
  margin-right: 10px;
  text-transform: lowercase;
	text-decoration:none;
	color:#fff;
	font-size:13px;
	text-shadow:0 -1px 1px rgba(0,0,0,.3);
	background-image:-webkit-linear-gradient(#52A8E8, #377AD0);
	background-image:-moz-linear-gradient(0% 100% 90deg,#377AD0, #52A8E8);
	background-image: -o-linear-gradient(rgb(82,168,232),rgb(55,122,208));
	background-color:#52A8E8;
	-moz-border-radius:23px;
	-webkit-border-radius:23px;
	border-radius:23px;
	border:1px solid #20559A;
	box-shadow:0 1px 2px rgba(0,0,0,.5), inset 0 1px 0 rgba(255,255,255,.3);
}




